/* Global Styles */
* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  :root {
    --background-color-dark: rgb(28, 28, 28);
    --background-color-light: rgb(216, 216, 216);
    --selected-field-dark: rgba(255, 255, 255, 0.2);
    --selected-field-light: rgba(0, 0, 0, 0.2);
  }
  
  /* Basic Page Layout */
  html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 1.5rem;
    background-color: var(--background-color-dark);
    color: var(--background-color-light);
  }
  
  span#turnt {
    margin-bottom: 1rem;
  }
  
  span#turnb {
    margin-top: 1rem;
    rotate: 180deg;
  }
  
  /* Game Grid (Main 9 Fields) */
  #game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    display: none; /* Hidden until start */
    width: 80vmin;
    height: 80vmin;
    border: 3px solid var(--background-color-light);
  }
  
  #game .field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
  }
  
  /* Each cell in the main grid */
  #game .field .cell {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    height: 100%;
  }
  
  .mini-field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
  }
  
  .mini-cell {
    background-color: var(--background-color-light);
    border: 1px solid black;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .mini-cell:hover {
    background-color: var(--selected-field-dark);
  }
  
  .mini-cell.red {
    background-color: red;
  }
  
  .mini-cell.blue {
    background-color: rgb(0, 106, 255);
  }
  
  /* Locking fields */
  .mini-field.locked .mini-cell {
    pointer-events: none;
    background-color: rgba(255, 144, 0, 0.1);
  }
  
  .hidden {
    display: none;
  }
  
  #start-button {
    font-size: 1.2rem;
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--background-color-light);
    border: none;
    color: var(--background-color-dark);
    font-weight: bold;
    border-radius: 5px;
    margin-top: 1rem;
  }
  
  #start-button:hover {
    background-color: #eee;
  }
  